html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main {
    background: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.qr-code {
    background: hsl(0, 0%, 100%);
    width: 400px;
    margin: 60px;
    padding: 16px;
}

.qr-code__image {
  width: 100%;
}

.qr-code__heading {
    color: hsl(218, 44%, 22%);
}

.qr-code__description {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
}

.footer {
}